/* *{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
  }

.container{
    font-family: Roboto;
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 4em;
    margin-bottom: 2.5em;
    border: 1px solid black;
    padding-bottom: 20em;
} 
h3{
    padding: 1.1em;
    text-align: left;
    background-color: rgb(196, 196, 196);
    border-bottom: 1px solid black;
}
#texto{
    background-color: #fafafa;
    border: 1px solid black;
    padding: 4em;
}
.areaDigitar{
    margin-left: 11em;
    margin-right: 11em;
    padding: 2em;
    padding-bottom: 3em;
    background-color: #C4C4C4;
    border: 1px solid black;
}
.p{
    text-align: left;
    font-weight: 500;
    border:black solid 1.9px;
    padding: 1rem;
    overflow-wrap: break-word;
}
#submit{
    color: snow;
    height: 30px;
    margin-left: 1rem;
    background: #0066CC;
    border-radius: 10px;
    border: 0;
}
.botaoExcluir{
    border: 0;
    background: tomato;
}
.botaoEditar{
    border: 0;
    background: #F7A75D;
}
.nova_div{
    p: 2em;
} */
*{
    margin: 0;
}
body{
    font-family: Roboto;
}
.div{
    text-align: right;
    width: 95%;
    margin: 0 auto;
    margin: 15px auto;

}
.p{
    text-align: left;
    border:black solid 1.9px;
    padding: 1rem;
    overflow-wrap: break-word;
}
.container{
    border:black solid 1px;
    width: 100%;
    max-width: 800px;
    margin: 100px auto;
    
}
.areaDigitar{
    background-color: #C4C4C4;
    display: flex;
    flex-direction: row;
    text-align: center;
    border: black solid 1px;
    height: auto;
    padding: 7px;
    margin: 0 auto;
    width: 60%;
}
.areaMensagem{
    margin: 0 auto;
}
.minhaLista{
    min-height: 45vh;
}
.historico-mensagem{
    min-height: 6vh;
    border:black solid 1px;
    background-color: #C4C4C4;
    padding-top: 20px;
    padding-left: 20px;
}
#submit{
    color: snow;
    height: 30px;
    margin-left: 1rem;
    background: #0066CC;
    border-radius: 10px;
    border: 0;
}
.botaoExcluir{
    border: 0;
    background: tomato;
}
.botaoEditar{
    border: 0;
    background: #F7A75D;
}
